@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");

:root {
  --main-color: #ff0;
  --light_white: #b0b0b0;
  --light_black: #222;
  --head_padding: 48px 80px;
  --padding: 120px 80px;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--light_white);
}

.btn {
  padding: 12px 8px;
  background-color: var(--main-color);
  border: none;
  width: 100%;
  color: #222;
  font-weight: 500;
  border-radius: 8px;
  margin-top: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover {
  background-color: black;
  color: white;
}

body {
  background-color: hsl(0, 0%, 0%);
}

header {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--head_padding);
  background: linear-gradient(0deg, transparent, hsl(0, 0%, 14%));
}

nav {
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
  gap: 1.5rem;
}

nav a {
  transition: 0.2s;
}

nav a:hover {
  color: white;
}

#Icon h2 {
  color: var(--main-color);
}

#menu {
  cursor: pointer;
  display: none;
}

.active {
  transform: scale(1);
  transition: 0.2s linear;
}

#hero {
  padding: var(--padding);
  background-image: url("img2/mountains.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  backdrop-filter: blur(0.4rem);
  padding: 12px;
  width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

#search h2 {
  color: white;
  font-weight: 400;
  padding-bottom: 12px;
}

#search h6 {
  color: white;
  font-weight: 300;
  padding-bottom: 4px;
  font-size: 14px;
}

#search input {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 8px;
  text-transform: none;
  margin-bottom: 12px;
  border-radius: 8px;
  border: none;
  background-color: hsl(0, 0%, 0%, 0.2);
  outline: none;
}

#search input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

#search input::placeholder {
  color: var(--light_white);
}

#about {
  background-image: url("img2/forest.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

#contaner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#con {
  width: 70%;
  background-image: url("img2/camp.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 64vh;
  box-shadow: 20px 25px 30px rgb(0, 0, 0, 0.6);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#con div {
  width: 40%;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(0.2rem);
  margin-left: 60px;
  padding: 24px 32px;
}

#con div h2 {
  color: white;
  font-weight: 550;
  padding-bottom: 12px;
}

#con div p {
  line-height: 1.5rem;
  color: white;
  padding-bottom: 12px;
  font-size: 14px;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  width: 60%;
  margin-top: 120px;
}

.card {
  width: 20%;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(0.2rem);
  padding: 24px;
  border-radius: 4px;
  cursor: pointer;
  height: fit-content;
}

.card:hover {
  background-color: rgb(0, 0, 0, 0.3);
}

.card img {
  height: 8rem;
  transition: 0.3s;
}

.card:hover img {
  height: 10rem;
}

.card h4 {
  color: white;
  padding-bottom: 12px;
  font-weight: 500;
}

.card p {
  line-height: 1.5rem;
  color: white;
  padding-bottom: 12px;
  font-size: 12px;
  font-weight: 500;
}

#review {
  background-image: url("img2/serv.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  padding: 90px 0;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#review h1 {
  font-size: 54px;
  color: white;
  text-shadow: 5px 10px 15px black;
  font-weight: 600;
  padding-bottom: 48px;
}

#reviewCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 62%;
}

.rev {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 56px 24px;
  backdrop-filter: blur(0.4rem);
  background-color: rgb(34, 34, 34, 0.5);
  cursor: pointer;
  transition: 0.3s;
}

.rev:hover {
  background-color: rgb(34, 34, 34, 0.7);
}

.rev p {
  font-weight: 200;
  color: white;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 28px;
  width: 90%;
}

.rev h4 {
  padding-top: 8px;
  color: white;
  font-weight: 600;
}

.rev img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.stars i {
  font-size: 20px;
  color: #ff0;
}

#places {
  padding: 120px 120px;
  background-image: url("img2/places.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#places h1 {
  font-size: 54px;
  color: white;
  text-shadow: 5px 10px 15px black;
  font-weight: 600;
  padding-bottom: 48px;
}

#pla_cont{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.pla {
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(0.4rem);
  padding: 16px;
  border-radius: 8px;
}

.pla h4 {
  font-size: 24px;
  color: white;
  text-shadow: 5px 10px 15px rgb(0, 0, 0, 0.5);
  font-weight: 500;
  padding-bottom: 4px;
  padding-top: 12px;
}

.pla h5 {
  font-size: 16px;
  padding-bottom: 20px;
  font-weight: 300;
}


.img {
  position: relative;
}

.img img {
  width: 300px;
  height: 180px;
  border-radius: 4px;
}

.img div {
  position: absolute;
  top: 20px;
  left: 12px;
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(0.4rem);
  padding: 4px 8px;
}

.img div i{
    color: var(--main-color);
}

.img div span{
    color: white;
}

/* media queries */

@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }

  #con div p {
    font-size: 55%;
  }
}

@media screen and (max-width: 768px) {
  #menu {
    display: inline-block;
  }

  header {
    position: fixed;
  }

  nav {
    margin: 12px 0;
    position: absolute;
    top: 55%;
    transform: scale(0);
    right: 0;
    background-color: hsl(0, 0%, 0%, 0.2);
    backdrop-filter: blur(0.4rem);
    border-radius: 12px;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  nav a {
    display: block;
    padding: 4px 0;
    color: white;
    padding: 4px 8px;
    transition: 0.3s;
  }

  nav a:hover {
    background-color: var(--light_black);
  }

  #con div p {
    font-size: 45%;
  }

  #products {
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 40%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  #con div p {
    font-size: 40%;
  }

  #con div {
    width: 60%;
    margin-left: 0;
  }

  header {
    padding: 20px;
  }

  .card {
    width: 55%;
    height: 30%;
  }

  #con {
    align-items: center;
  }
}
